<div class="head">
  <div class="header">
    <nav class="navbar ">
      <a class="navbar-brand">
        <img
          src="../../assets/logo.svg"
          width="200"
          height="50"
          class="d-inline-block align-top"
          alt="Logo"
        />
      </a>
      <div>
        <button mat-button (click)="logout()">
          <b>
            Logout
          </b>
          <mat-icon class="icon">
            logout
          </mat-icon>
        </button>
      </div>
    </nav>
  </div>
</div>
