<div class="row">
  <div class="col-md-2 offset-md-1">
    <h2>Profile</h2>
    <br />
  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{ email }}</mat-card-title>
      </mat-card-header>
      <br>
      <br>
      <mat-card-content>
        <h6>Total Days Off : {{ totalDaysOff }}</h6>
        <h6>Used Days : {{ usedDays }}</h6>
        <h6>Remaining Days : {{ remainingDays }}</h6>
      </mat-card-content>
    </mat-card>
  </div>
</div>
