<div class="row">
    <div class="col-md-2 offset-md-1">
      <h2>Requests</h2>
      <br />
    </div>
  </div>

<div class="row justify-content-md-center">
  <div class="col-md-8">
    <table mat-table [dataSource]="requests">
      <ng-container matColumnDef="nr">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let request"> {{ request.position }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="employee">
        <mat-header-cell *matHeaderCellDef> Employee </mat-header-cell>
        <mat-cell *matCellDef="let request">
          {{ byId[request.userid]?.email }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
        <mat-cell *matCellDef="let request"> {{ request.date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accept">
        <mat-header-cell *matHeaderCellDef> Confirm </mat-header-cell>
        <mat-cell *matCellDef="let request">
          <button mat-icon-button color="primary">
            <mat-icon class="iconCheck" (click)="confirm(request)"
              >check</mat-icon
            >
          </button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="decline">
        <mat-header-cell *matHeaderCellDef> Deny </mat-header-cell>
        <mat-cell *matCellDef="let request">
          <button mat-icon-button color="primary">
            <mat-icon class="iconCancel" (click)="openDialog(request)"
              >cancel</mat-icon
            >
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>
